*{
  font-family: 'Gudea', sans-serif;
}
body, html{
  padding: 0;
  margin: 0;
}
a{
  cursor: pointer;
  text-decoration: none;
  /*display: inline-block;*/
}
nav{
  top:0;
  left: 0;
  width:100%;
  height: 80px;
  color: #fff;
  z-index: 1000;
  margin-top: 0px;
  position: fixed;
  padding-top: 0px;
  background: none;
  transition: all .6s cubic-bezier(.7, .01, .03, 1);
  background-color: #575761;
}

.logo, .menu{
  position: absolute;
  z-index: 1000;
}

.logo{
  left:15px;
  top: -4px;
  width: 70px;
  height: 74px;
  padding: .4% 2%;
  text-align: left;/*float*/
  background-position: 50%;/**/
  background-repeat: no-repeat;
  background-image: url(../images/laboratoria.svg);
}
/*.menu{
  position: absolute;
  z-index: 1000;
}*/
a .menu{
  top:0;
  right: 0;
  height: 4px;
  width: 24px;
  text-align: right;
  margin:2rem 2rem;
  background: #FFBF46;
  transition: all 0.3s;
}
.menu::before{
  top:-8px;
}
.menu::after{
  top:8px;
}
.menu::before, .menu::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 24px;
  z-index: -1;
  display: block;
  background: #FFBF10;
  transition: all 0.3s;
}
#toggle:hover .menu::before{
  top:-9px;
}
#toggle:hover .menu:after{
  top:9px;
}
#toggle:hover{
  transition: top .4s;
}

.open .menu{
  background: none !important;
}
.open .menu::after{
  top:0 !important;
  background: #fff !important;
  transform: rotate(45deg);
}
.open .menu::before{
  top: 0 !important;
  background: #fff !important;
  transform: rotate(-45deg);
}

.nav-background{
  top:0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: table;
  background: none;
  position: absolute;
  transition: background-color 0.6s cubic-bezier(.7, .01, .3, 1);
}

nav.open .nav-background{
  opacity: 1;
  background-color: #F9A91A;
  transition: background-color 0.6s cubic-bezier(.7, .01, .3, 1);
}

nav.open{
  height: 100%;
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
}

nav ul{
  top:-10%;
  padding: 0;
  opacity: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}
nav ul li{
  visibility: hidden;
}
/* en html target="_blank"
para qitar scroll en body pones hidden
scroll funcion en js */
